{{ $profile := .profile }}
{{ $page := .page }}

{{ if $profile }}
  {{ $avatar := $profile.avatar }}

<div class="flex pt-12 pb-4">
  {{ if $avatar }}
    {{ $responsive := partial "functions/process_responsive_image.html" (dict 
        "image" $avatar 
        "mode" "fill"
        "aspect_ratio" "1:1"
        "anchor" "Center"
        "sizes" (slice 96 192 288 384)
    ) }}
    
    <img
      class="mr-4 h-24 w-24 rounded-full"
      srcset="{{ $responsive.srcset }}"
      sizes="96px"
      src="{{ $responsive.fallback.RelPermalink }}"
      width="96"
      height="96"
      alt="{{$profile.title}}"
      loading="lazy"
      />
  {{ end }}
  <div class="place-self-center">
    <div class="text-[0.6rem] uppercase leading-3 text-neutral-500 dark:text-neutral-400">
      {{ i18n "authors" | default "Author" }}
    </div>
    <div class="font-semibold leading-6 text-neutral-800 dark:text-neutral-300">
      <span class="inline-block">
        {{$profile.title}}
      </span>
      {{- with $profile.pronouns -}}
        <span class="text-sm font-normal text-gray-600 dark:text-gray-400 ml-1 inline-block">({{ . }})</span>
      {{- end -}}
    </div>

    {{ with $profile.role }}
    <div class="text-sm font-bold text-neutral-700 dark:text-neutral-300">
    {{. | markdownify | emojify}}
    </div>
    {{end}}

    {{ with $profile.bio }}
    <div class="text-sm text-neutral-700 dark:text-neutral-300">{{ . | markdownify | emojify }}</div>
    {{ end }}

    {{ with $profile.links }}
    <div class="text-2xl sm:text-lg pt-1">
      {{ partial "social_links" (dict "Params" (dict "profiles" .)) }}
    </div>
    {{ end }}
  </div>
</div>

{{end}}
